{% extends 'base.html'%}

# наследование в шаблонах

{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Домашняя страница</a></li>
    <li class="breadcrumb-item"><a href="#">{{ trash.category.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <img src="{{ trash.image.url }}" class="img-fluid">
    </div>

    <div class="col-md-8">
        <h5> {{ trash.title}} </h5>
<!--        <h5> Период разложения на свалке: {{ period.view }} лет </h5>-->
<!--        <h5> Результат разложения: {{ result.view}} </h5>-->
        <h5> Вес отходов: {{ trash.weight}} кг. </h5>
    </div>
</div>


{% endblock content%}
